<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Handlee', cursive;
            font-size: 50px;
            margin-top: 60px;

        }

        h1 {
            font-size: 70px;
        }
    </style>
</head>

<body>

    <center>
        <h1>Generated Password</h1>
        Your Password Is: <br> <strong style="background-color: black;color:aliceblue""> {{ password }}</strong>
        <br>
        <br>


        <form action=" {%url 'homepage'%}"> <button action='about'>RETURN TO MAIN</button></form>
    </center>

</body>


</html>